.hw-header-nav {
  box-shadow: 0 2px 10px #f9f9f9; }
  .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort::before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background: url(../img/detail/icon-category.png) no-repeat;
      background-position: 0 -25px;
      background-size: 100% 200%;
      position: absolute;
      top: 10px;
      left: 0; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort:hover::before {
      background-position: 0 -1px; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort a {
      padding-left: 30px;
      color: #333333;
      font-size: 16px;
      text-decoration: 0; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort:hover a {
      color: #ca141d; }

.hw-breadcrumb {
  background-color: #fff !important; }
  .hw-breadcrumb a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53; }
  .hw-breadcrumb a:nth-child(4) {
    cursor: text; }
  .hw-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">"; }

.hw-product-detail {
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd; }
  .hw-product-detail .hw-product-detail-left .hw-product-detail-left-exhibition {
    width: 450px;
    height: 450px; }
    .hw-product-detail .hw-product-detail-left .hw-product-detail-left-exhibition img {
      width: 450px;
      height: 450px; }
  .hw-product-detail .hw-product-detail-left .hw-product-detail-left-zoom ul {
    width: 450px;
    display: flex;
    justify-content: center; }
    .hw-product-detail .hw-product-detail-left .hw-product-detail-left-zoom ul li {
      width: 68px;
      height: 68px;
      padding: 3px;
      border: 1px solid transparent;
      margin-left: 10px; }
      .hw-product-detail .hw-product-detail-left .hw-product-detail-left-zoom ul li a img {
        display: block;
        width: 60px;
        height: 60px; }
      .hw-product-detail .hw-product-detail-left .hw-product-detail-left-zoom ul li:hover {
        border-color: #ca141d; }
  .hw-product-detail .hw-product-detail-right h1 {
    width: 650px;
    font-size: 21px;
    font-weight: 400;
    color: #3a3a3a; }
  .hw-product-detail .hw-product-detail-right > a {
    color: #ca141d;
    font-size: 14px;
    text-decoration: underline; }
  .hw-product-detail .hw-product-detail-right .product-info {
    height: 85px;
    background-color: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 3px; }
    .hw-product-detail .hw-product-detail-right .product-info .product-price label {
      float: left;
      width: 85px;
      text-indent: 10px;
      line-height: 30px;
      color: #3a3a3a;
      font-size: 12px; }
    .hw-product-detail .hw-product-detail-right .product-info .product-price .price {
      font-size: 24px;
      float: left;
      color: #ca141d;
      line-height: 30px; }
    .hw-product-detail .hw-product-detail-right .product-info .product-sale label {
      float: left;
      width: 85px;
      text-indent: 10px;
      line-height: 30px;
      color: #3a3a3a;
      font-size: 12px; }
    .hw-product-detail .hw-product-detail-right .product-info .product-sale .sale > div {
      float: left;
      height: 18px;
      line-height: 18px;
      border: 1px solid #ca141d;
      color: #ca141d;
      font-size: 12px;
      padding: 0 6px;
      text-align: center;
      margin-top: 6px;
      margin-right: 10px; }
    .hw-product-detail .hw-product-detail-right .product-info .product-sale .sale > span {
      float: left;
      font-size: 12px;
      margin-top: 6px; }
  .hw-product-detail .hw-product-detail-right .product-service {
    border-bottom: 1px solid #dddddd; }
    .hw-product-detail .hw-product-detail-right .product-service label {
      float: left;
      font-size: 12px;
      width: 85px;
      text-indent: 10px;
      line-height: 30px; }
    .hw-product-detail .hw-product-detail-right .product-service > div:nth-child(1) span {
      position: relative;
      display: block;
      font-size: 12px;
      color: #3a3a3a;
      line-height: 30px; }
      .hw-product-detail .hw-product-detail-right .product-service > div:nth-child(1) span::after {
        content: "";
        cursor: pointer;
        position: absolute;
        width: 12px;
        height: 12px;
        display: block;
        background: url(../img/icon/icon4.png) no-repeat;
        background-position: 0 -148px;
        top: 10px;
        left: 130px; }
    .hw-product-detail .hw-product-detail-right .product-service ul {
      font-size: 12px;
      color: #3a3a3a;
      line-height: 24px; }
      .hw-product-detail .hw-product-detail-right .product-service ul li {
        float: left;
        margin: 0 20px;
        position: relative; }
        .hw-product-detail .hw-product-detail-right .product-service ul li::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url(../img/icon/icon5.png) no-repeat;
          position: absolute;
          left: -20px;
          top: 4px; }
    .hw-product-detail .hw-product-detail-right .product-service .code {
      display: block;
      font-size: 12px;
      color: #3a3a3a;
      line-height: 30px; }
  .hw-product-detail .hw-product-detail-right .hw-specs label {
    float: left;
    width: 85px;
    line-height: 40px;
    text-indent: 10px;
    color: #3a3a3a;
    font-size: 12px;
    margin-bottom: 0; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-color {
    height: 40px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-color ul li {
      float: left;
      height: 40px;
      border: 1px solid #a4a4a4;
      line-height: 30px;
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 2px; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-color ul li a {
        text-decoration: none;
        font-size: 12px;
        color: #3a3a3a; }
        .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-color ul li a img {
          display: inline-block;
          width: 30px;
          height: 30px; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-color ul li:hover {
        border-color: #ca141d; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-edition ul li {
    float: left;
    height: 30px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #a4a4a4;
    padding: 0 20px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 2px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-edition ul li a {
      text-decoration: none;
      font-size: 12px;
      color: #3a3a3a; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-edition ul li:hover {
      border-color: #ca141d; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-package {
    height: 40px;
    margin-top: 5px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-package ul li {
      float: left;
      height: 30px;
      line-height: 23px;
      text-align: center;
      border: 1px solid #a4a4a4;
      padding: 0 20px;
      margin-top: 5px;
      margin-right: 10px;
      border-radius: 2px; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-package ul li a {
        text-decoration: none;
        font-size: 12px;
        color: #3a3a3a; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-package ul li:hover {
        border-color: #ca141d; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-services {
    height: 40px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-services ul li {
      float: left;
      height: 30px;
      line-height: 23px;
      text-align: center;
      border: 1px solid #a4a4a4;
      padding: 0 30px 0 20px;
      margin-top: 5px;
      margin-right: 10px;
      border-radius: 2px;
      position: relative; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-services ul li a {
        text-decoration: none;
        font-size: 12px;
        color: #3a3a3a; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-services ul li:hover {
        border-color: #ca141d; }
      .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-services ul li::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../img/icon/icon4.png) no-repeat 0 0;
        position: absolute;
        top: 3px;
        right: 4px; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-recommend ul li {
    float: left;
    height: 30px;
    line-height: 23px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 0 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 2px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-recommend ul li a {
      text-decoration: none;
      font-size: 12px;
      color: #3a3a3a; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-recommend ul li:hover a {
      color: #ca141d; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-selected span {
    display: block;
    float: left;
    color: #ca141d;
    font-size: 12px;
    margin-top: 10px; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop .hw-specs-shop-count {
    float: left;
    border: 1px solid #d6d6d6;
    margin: 0 10px;
    border-radius: 2px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop .hw-specs-shop-count input {
      float: left;
      width: 41px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 18px;
      border: 0;
      outline: 0; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop .hw-specs-shop-count p {
      float: left;
      width: 21px;
      border-left: 1px solid #d6d6d6; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop .hw-specs-shop-count a {
      display: block;
      height: 21px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      text-decoration: none;
      color: #777;
      font-weight: 700; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop .hw-specs-shop-count a:nth-child(1) {
      width: 22px;
      border-bottom: 1px solid #d6d6d6; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop > a {
    float: left;
    display: block;
    width: 172px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #fc600c;
    border-radius: 2px;
    margin-right: 10px; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop > a:hover {
      background-color: #fd803d; }
  .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop > a:nth-of-type(2) {
    background-color: #ca151d; }
    .hw-product-detail .hw-product-detail-right .hw-specs .hw-specs-shop > a:nth-of-type(2):hover {
      background-color: #d5444b; }

.hw-product-introduce .hw-product-introduce-title a {
  margin: 0 auto;
  color: #a4a4a4;
  font-size: 18px; }
.hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item {
  border-bottom: 1px solid #d8d8d8; }
  .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item h2 {
    float: left;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    width: 100px;
    padding: 24px 0 0; }
  .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item ul {
    float: right;
    font-size: 16px;
    line-height: 24px;
    padding: 24px 0 0;
    width: 930px; }
    .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item ul li {
      margin-bottom: 10px; }
      .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item ul li label {
        float: left;
        width: 128px;
        margin-right: 50px; }
      .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item ul li span {
        float: left;
        width: 280px;
        margin-right: 90px; }
      .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-content .hw-product-introduce-details-content-item ul li > div {
        float: left;
        width: 375px;
        color: #999;
        font-size: 14px; }
.hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales h2 {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  padding: 14px 0; }
.hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .baozhuang, .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .shouhou {
  font-size: 14px;
  color: #3a3a3a;
  padding: 38px 30px 40px 130px; }
  .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .baozhuang li, .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .shouhou li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 16px; }
    .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .baozhuang li::before, .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .shouhou li::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #d8d8d8;
      position: absolute;
      top: 8px;
      left: 0; }
.hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .baozhuang {
  display: flex;
  flex-wrap: wrap; }
  .hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .baozhuang li {
    flex: 25%; }
.hw-product-introduce .hw-product-introduce-details .hw-product-introduce-details-aftersales .shouhou li {
  margin-bottom: 5px; }

/*# sourceMappingURL=detail.css.map */
