.hw-banner {
  position: relative;
  height: 550px; }
  .hw-banner .hw-banner-bg:nth-child(1) {
    background: url("../img/lb/lb1.jpg") no-repeat 50%; }
  .hw-banner .hw-banner-bg:nth-child(2) {
    background: url("../img/lb/lb2.jpg") no-repeat 50%; }
  .hw-banner .hw-banner-bg:nth-child(3) {
    background: url("../img/lb/lb3.jpg") no-repeat 50%; }
  .hw-banner .hw-banner-bg:nth-child(4) {
    background: url("../img/lb/lb4.png") no-repeat 50%; }
  .hw-banner .hw-banner-bg:nth-child(5) {
    background: url("../img/lb/lb5.png") no-repeat 50%; }
  .hw-banner .hw-banner-bg:nth-child(6) {
    background: url("../img/lb/lb6.jpg") no-repeat 50%; }
  .hw-banner .hw-banner-prev {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/icon2.svg);
    background-position: 0 -72px;
    background-size: auto; }
    .hw-banner .hw-banner-prev:hover {
      background-position: -240px -72px; }
  .hw-banner .hw-banner-next {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/icon2.svg);
    background-position: -80px -72px;
    background-size: auto; }
    .hw-banner .hw-banner-next:hover {
      background-position: -160px -72px; }
  .hw-banner .hw-ind {
    margin-left: 75%;
    bottom: 25px; }
    .hw-banner .hw-ind li {
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%; }
    .hw-banner .hw-ind .active {
      background-color: #fff; }
  .hw-banner .hw-banner-bt {
    position: absolute;
    bottom: 0;
    height: 72px;
    background: url(../img/lb/bg-slide.png) no-repeat;
    background-size: 100% 72px; }
  .hw-banner .hw-banner-list {
    position: absolute;
    top: 15px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(253, 245, 245, 0.8);
    font-size: 14px;
    color: #848484; }
    .hw-banner .hw-banner-list:hover {
      border-radius: 10px 0 0 10px; }
    .hw-banner .hw-banner-list .hw-banner-list-item {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding-left: 16px;
      cursor: pointer; }
      .hw-banner .hw-banner-list .hw-banner-list-item::after {
        content: "";
        width: 16px;
        height: 16px;
        background: url(../img/icon/icon3.svg) no-repeat;
        background-position: -60px 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -8px;
        z-index: 10; }
      .hw-banner .hw-banner-list .hw-banner-list-item:hover {
        background-color: #fff; }
        .hw-banner .hw-banner-list .hw-banner-list-item:hover .hw-banner-list-item-detail {
          display: block; }
      .hw-banner .hw-banner-list .hw-banner-list-item span:hover {
        color: #ca141d; }
      .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail {
        height: 440px;
        background-color: #fff;
        padding-left: 32px;
        padding-top: 20px;
        position: absolute;
        top: 0;
        left: 200px;
        border-radius: 0 10px 10px 0;
        display: none; }
        .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail ul li {
          width: 200px;
          height: 60px;
          border-radius: 10px;
          padding-top: 10px;
          margin-right: 10px;
          margin-top: 10px; }
          .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail ul li a {
            display: inline-block;
            width: 48px;
            height: 48px; }
            .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail ul li a img {
              width: 100%; }
          .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail ul li span {
            color: #666; }
          .hw-banner .hw-banner-list .hw-banner-list-item .hw-banner-list-item-detail ul li:hover {
            background-color: #f6f6f6; }

.hw-new-product-module ul {
  height: 200px;
  margin: 20px 0 30px; }
  .hw-new-product-module ul li {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    margin-right: 10px; }
    .hw-new-product-module ul li a img {
      height: 200px; }
    .hw-new-product-module ul li:hover {
      box-shadow: 0 5px 15px 5px #f2f2f2; }

.hw-hot-item .hw-hot-item-title {
  font-size: 26px;
  color: #333;
  padding: 0 0 13px 0;
  font-weight: 400; }
.hw-hot-item .hw-hot-item-content {
  height: 592px; }
  .hw-hot-item .hw-hot-item-content .hw-hot-item-content-left {
    flex: 1;
    margin-right: 10px; }
    .hw-hot-item .hw-hot-item-content .hw-hot-item-content-left a {
      border-radius: 10px; }
      .hw-hot-item .hw-hot-item-content .hw-hot-item-content-left a img {
        border-radius: 10px; }
    .hw-hot-item .hw-hot-item-content .hw-hot-item-content-left:hover {
      box-shadow: 0 5px 15px 10px #fbfbfb; }
  .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right {
    flex: 4; }
    .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div {
      flex: 1; }
      .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li {
        background-color: #f9f9f9;
        flex: 1; }
        .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li a {
          text-decoration: none; }
          .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li a img {
            width: 150px;
            height: 150px; }
          .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li a h4 {
            font-size: 14px;
            font-weight: 400;
            color: #3a3a3a;
            margin-top: 10px; }
          .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li a h5 {
            font-size: 12px;
            font-weight: 400;
            color: #777; }
          .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li a p {
            font-size: 14px;
            font-weight: 400;
            color: #d0021b; }
        .hw-hot-item .hw-hot-item-content .hw-hot-item-content-right > div ul li:hover {
          box-shadow: 0 5px 15px 10px #fbfbfb; }

.hw-recommend {
  cursor: pointer; }
  .hw-recommend .hw-recommend-title {
    font-size: 26px;
    color: #333;
    padding: 0 0 13px 0;
    font-weight: 400;
    margin-top: 30px; }
  .hw-recommend .hw-recommend-content .hw-recommend-content-item {
    flex: 1;
    margin-right: 10px; }
    .hw-recommend .hw-recommend-content .hw-recommend-content-item .hw-recommend-content-item-top {
      background-color: #fff;
      border: 1px solid #f9f9f9;
      box-shadow: 0 1px 8px #f9f9f9;
      border-radius: 10px; }
      .hw-recommend .hw-recommend-content .hw-recommend-content-item .hw-recommend-content-item-top em {
        height: 36px; }
      .hw-recommend .hw-recommend-content .hw-recommend-content-item .hw-recommend-content-item-top img {
        width: 150px;
        height: 150px;
        margin-bottom: 20px; }
      .hw-recommend .hw-recommend-content .hw-recommend-content-item .hw-recommend-content-item-top p {
        height: 36px;
        font-size: 14px;
        line-height: 36px;
        color: #777;
        background-color: #f3f3f3;
        border-radius: 0 0 10px 10px; }
    .hw-recommend .hw-recommend-content .hw-recommend-content-item h4 {
      font-size: 14px;
      font-weight: 400;
      color: #3a3a3a;
      line-height: 21px; }
    .hw-recommend .hw-recommend-content .hw-recommend-content-item p {
      font-size: 14px;
      font-weight: 400;
      color: #d0021b;
      line-height: 18px; }
  .hw-recommend .hw-recommend-content .hw-recommend-content-item:last-child {
    margin-right: 0; }

.hw-phone .hw-phone-title {
  margin-top: 30px; }
  .hw-phone .hw-phone-title ul li {
    float: left;
    font-size: 14px;
    padding: 0 0 13px 0;
    margin-right: 24px;
    line-height: 32px; }
    .hw-phone .hw-phone-title ul li a {
      text-decoration: none;
      color: #999; }
      .hw-phone .hw-phone-title ul li a:hover {
        color: #d0021b; }
  .hw-phone .hw-phone-title ul li:first-child {
    font-size: 26px;
    color: #333;
    padding: 0 0 13px 0;
    font-weight: 400; }
  .hw-phone .hw-phone-title span {
    float: right;
    font-size: 14px;
    color: #3a3a3a;
    cursor: pointer;
    line-height: 32px;
    padding-right: 20px;
    position: relative; }
    .hw-phone .hw-phone-title span:hover {
      color: #d0021b; }
    .hw-phone .hw-phone-title span::after {
      content: "";
      display: block;
      width: 18px;
      height: 14px;
      background: url(../img/icon/icon3.svg) no-repeat;
      background-position: -48px 0;
      position: absolute;
      top: 9px;
      right: 0; }
.hw-phone .hw-phone-content {
  height: 290px; }
  .hw-phone .hw-phone-content > div {
    flex: 1;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer; }
  .hw-phone .hw-phone-content > div:nth-child(1) img {
    height: 290px;
    border-radius: 10px; }
  .hw-phone .hw-phone-content .hw-phone-content-item {
    background-color: #f9f9f9; }
    .hw-phone .hw-phone-content .hw-phone-content-item img {
      height: 150px; }
    .hw-phone .hw-phone-content .hw-phone-content-item h4 {
      font-size: 14px;
      font-weight: 400;
      color: #3a3a3a; }
    .hw-phone .hw-phone-content .hw-phone-content-item h5 {
      font-size: 12px;
      font-weight: 400;
      color: #777; }
    .hw-phone .hw-phone-content .hw-phone-content-item p {
      font-size: 14px;
      font-weight: 400;
      color: #d0021b; }

.hw-watch .hw-watch-title {
  margin-top: 30px; }
  .hw-watch .hw-watch-title ul li {
    float: left;
    font-size: 14px;
    padding: 0 0 13px 0;
    margin-right: 24px;
    line-height: 32px; }
    .hw-watch .hw-watch-title ul li a {
      text-decoration: none;
      color: #999; }
      .hw-watch .hw-watch-title ul li a:hover {
        color: #d0021b; }
  .hw-watch .hw-watch-title ul li:first-child {
    font-size: 26px;
    color: #333;
    padding: 0 0 13px 0;
    font-weight: 400; }
  .hw-watch .hw-watch-title span {
    float: right;
    font-size: 14px;
    color: #3a3a3a;
    cursor: pointer;
    line-height: 32px;
    padding-right: 20px;
    position: relative; }
    .hw-watch .hw-watch-title span:hover {
      color: #d0021b; }
    .hw-watch .hw-watch-title span::after {
      content: "";
      display: block;
      width: 18px;
      height: 14px;
      background: url(../img/icon/icon3.svg) no-repeat;
      background-position: -48px 0;
      position: absolute;
      top: 9px;
      right: 0; }
.hw-watch .hw-watch-content .hw-watch-content-1 {
  height: 290px; }
  .hw-watch .hw-watch-content .hw-watch-content-1 > div {
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer; }
  .hw-watch .hw-watch-content .hw-watch-content-1 div:nth-child(1) {
    flex: 2; }
    .hw-watch .hw-watch-content .hw-watch-content-1 div:nth-child(1) img {
      height: 290px;
      width: 100%;
      border-radius: 10px; }
  .hw-watch .hw-watch-content .hw-watch-content-1 .hw-watch-content-item {
    flex: 1;
    background-color: #f9f9f9; }
    .hw-watch .hw-watch-content .hw-watch-content-1 .hw-watch-content-item img {
      height: 150px; }
    .hw-watch .hw-watch-content .hw-watch-content-1 .hw-watch-content-item h4 {
      font-size: 14px;
      font-weight: 400;
      color: #3a3a3a; }
    .hw-watch .hw-watch-content .hw-watch-content-1 .hw-watch-content-item h5 {
      font-size: 12px;
      font-weight: 400;
      color: #777; }
    .hw-watch .hw-watch-content .hw-watch-content-1 .hw-watch-content-item p {
      font-size: 14px;
      font-weight: 400;
      color: #d0021b; }
.hw-watch .hw-watch-content .hw-watch-content-2 {
  height: 290px; }
  .hw-watch .hw-watch-content .hw-watch-content-2 > div {
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer; }
  .hw-watch .hw-watch-content .hw-watch-content-2 .hw-watch-content-item {
    flex: 1;
    background-color: #f9f9f9; }
    .hw-watch .hw-watch-content .hw-watch-content-2 .hw-watch-content-item img {
      height: 150px; }
    .hw-watch .hw-watch-content .hw-watch-content-2 .hw-watch-content-item h4 {
      font-size: 14px;
      font-weight: 400;
      color: #3a3a3a; }
    .hw-watch .hw-watch-content .hw-watch-content-2 .hw-watch-content-item h5 {
      font-size: 12px;
      font-weight: 400;
      color: #777; }
    .hw-watch .hw-watch-content .hw-watch-content-2 .hw-watch-content-item p {
      font-size: 14px;
      font-weight: 400;
      color: #d0021b; }
.hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item {
  flex: 1;
  margin-right: 10px; }
  .hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item .hw-watch-content-item-top {
    padding-top: 32px;
    background-color: #fff;
    border: 1px solid #f9f9f9;
    box-shadow: 0 1px 8px #f9f9f9;
    border-radius: 10px; }
    .hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item .hw-watch-content-item-top img {
      width: 120px;
      height: 120px;
      margin-bottom: 20px; }
    .hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item .hw-watch-content-item-top p {
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      color: #777;
      background-color: #f3f3f3;
      border-radius: 0 0 10px 10px; }
  .hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item h4 {
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
    line-height: 21px; }
  .hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item p {
    font-size: 14px;
    font-weight: 400;
    color: #d0021b;
    line-height: 21px; }
.hw-watch .hw-watch-content .hw-watch-content-3 .hw-watch-content-item:last-child {
  margin-right: 0; }

/*# sourceMappingURL=index.css.map */
