.hw-login-logo {
  height: 38px; }
  .hw-login-logo .hw-login-logo-center {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px; }
    .hw-login-logo .hw-login-logo-center > img {
      float: left;
      height: 19px;
      vertical-align: middle; }
    .hw-login-logo .hw-login-logo-center > b {
      float: left;
      font-size: 12px;
      color: #191919;
      border-left: 1px solid #c1c1c1;
      padding-left: 10px;
      margin-left: 10px; }

.hw-login {
  background-color: #fff;
  height: 560px; }
  .hw-login .hw-login-title {
    padding: 80px 0 64px; }
    .hw-login .hw-login-title > p {
      text-align: center;
      font-size: 25.6px;
      color: #191919; }
  .hw-login .hw-login-banner {
    height: 336px; }
    .hw-login .hw-login-banner .hw-login-banner-left {
      float: left; }
      .hw-login .hw-login-banner .hw-login-banner-left > div {
        float: right;
        position: relative;
        margin-right: 48px;
        width: 288px;
        height: 232px; }
        .hw-login .hw-login-banner .hw-login-banner-left > div img {
          display: block;
          margin: 0 auto;
          margin-top: 20px; }
        .hw-login .hw-login-banner .hw-login-banner-left > div span {
          position: absolute;
          bottom: 0;
          font-size: 12px;
          color: #838383; }
    .hw-login .hw-login-banner > span {
      float: left;
      display: block;
      width: 1px;
      height: 240px;
      background-color: #e5e5e5; }
    .hw-login .hw-login-banner .hw-login-banner-right {
      float: left; }
      .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form {
        width: 288px;
        height: 200px;
        margin-left: 48px; }
        .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form form input {
          width: 100%;
          height: 38px;
          line-height: 38px;
          color: #191919;
          font-size: 12px;
          background-color: #f2f2f2;
          outline: 0;
          border: 0;
          padding: 0 13px;
          border-radius: 6px;
          margin-bottom: 20px; }
        .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form form p {
          font-size: 12px;
          color: #007dff;
          margin-top: -10px;
          cursor: pointer; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form form p:hover {
            color: #0064cc; }
        .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form form button {
          width: 100%;
          height: 38px;
          border: 0;
          outline: 0;
          border-radius: 6px;
          background-color: #ca141d;
          color: #fff;
          font-size: 14px;
          margin-top: 15px;
          margin-bottom: 32px; }
        .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-link {
          width: 100%; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-link ul {
            display: flex;
            justify-content: center; }
            .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-link ul li {
              float: left;
              font-size: 12px;
              padding: 0 12px;
              border-right: 1px solid #e5e5e5; }
              .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-link ul li:last-child {
                border: 0; }
              .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-link ul li a {
                text-decoration: none; }
        .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 24px 0 32px 0; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon span {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 0 20px;
            cursor: pointer; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-qq {
            background: url(../img/login/third_qq.svg) no-repeat;
            background-size: contain; }
            .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-qq:hover {
              background: url(../img/login/third_qq_hover.svg) no-repeat;
              background-size: contain; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-alipay {
            background: url(../img/login/third_alipay.svg) no-repeat;
            background-size: contain; }
            .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-alipay:hover {
              background: url(../img/login/third_alipay_hover.svg) no-repeat;
              background-size: contain; }
          .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-weixin {
            background: url(../img/login/third_weixin.svg) no-repeat;
            background-size: contain; }
            .hw-login .hw-login-banner .hw-login-banner-right .hw-login-banner-right-form .hw-login-icon .hw-login-icon-weixin:hover {
              background: url(../img/login/third_weixin_hover.svg) no-repeat;
              background-size: contain; }

.hw-login-footer {
  height: 88px;
  text-align: center;
  padding-top: 30px; }
  .hw-login-footer p {
    font-size: 12px; }
    .hw-login-footer p a {
      color: #000;
      padding: 0 15px;
      border-right: 1px solid #dbeaf2; }
      .hw-login-footer p a:last-child {
        border: 0; }
  .hw-login-footer p:nth-child(2) {
    color: #999; }

/*# sourceMappingURL=login.css.map */
