@charset "utf-8";

// banner 轮播图
.hw-banner {
    position: relative;
    height: 550px;

    // 轮播图图片
    .hw-banner-bg:nth-child(1) {
        background: url("../img/lb/lb1.jpg") no-repeat 50%;
    }

    .hw-banner-bg:nth-child(2) {
        background: url("../img/lb/lb2.jpg") no-repeat 50%;
    }

    .hw-banner-bg:nth-child(3) {
        background: url("../img/lb/lb3.jpg") no-repeat 50%;
    }

    .hw-banner-bg:nth-child(4) {
        background: url("../img/lb/lb4.png") no-repeat 50%;
    }

    .hw-banner-bg:nth-child(5) {
        background: url("../img/lb/lb5.png") no-repeat 50%;
    }

    .hw-banner-bg:nth-child(6) {
        background: url("../img/lb/lb6.jpg") no-repeat 50%;
    }

    // 左按钮
    .hw-banner-prev {
        width: 80px;
        height: 80px;
        background-image: url(../img/icon/icon2.svg);
        background-position: 0 -72px;
        background-size: auto;

        &:hover {
            background-position: -240px -72px;
        }
    }

    // 右按钮
    .hw-banner-next {
        width: 80px;
        height: 80px;
        background-image: url(../img/icon/icon2.svg);
        background-position: -80px -72px;
        background-size: auto;

        &:hover {
            background-position: -160px -72px;
        }
    }

    // 小圆点
    .hw-ind {
        margin-left: 75%;
        bottom: 25px;

        li {
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 50%
        }

        .active {
            background-color: #fff;
        }
    }

    // 轮播图底部圆弧图片
    .hw-banner-bt {
        position: absolute;
        bottom: 0;
        height: 72px;
        background: url(../img/lb/bg-slide.png) no-repeat;
        background-size: 100% 72px;
    }

    // 轮播图列表
    .hw-banner-list {
        position: absolute;
        top: 15px;
        width: 200px;
        border-radius: 10px;
        background-color: rgba(#fdf5f5, 0.8);
        font-size: 14px;
        color: #848484;

        &:hover {
            border-radius: 10px 0 0 10px;
        }

        .hw-banner-list-item {
            position: relative;
            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            cursor: pointer;

            &::after {
                content: "";
                width: 16px;
                height: 16px;
                background: url(../img/icon/icon3.svg) no-repeat;
                background-position: -60px 0;
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -8px;
                z-index: 10;
            }

            &:hover {
                background-color: #fff;

                .hw-banner-list-item-detail {
                    display: block;
                }
            }

            span {
                &:hover {
                    color: #ca141d;
                }
            }

            .hw-banner-list-item-detail {
                height: 440px;
                background-color: #fff;
                padding-left: 32px;
                padding-top: 20px;
                position: absolute;
                // position: fixed;
                top: 0;
                left: 200px;
                border-radius: 0 10px 10px 0;
                display: none;

                ul {

                    li {
                        width: 200px;
                        height: 60px;
                        border-radius: 10px;
                        padding-top: 10px;
                        margin-right: 10px;
                        margin-top: 10px;

                        a {
                            display: inline-block;
                            width: 48px;
                            height: 48px;

                            img {
                                width: 100%;
                            }
                        }

                        span {
                            color: #666;
                        }

                        &:hover {
                            background-color: #f6f6f6;
                        }
                    }
                }
            }
        }
    }
}

// 新品模块
.hw-new-product-module {
    ul {
        height: 200px;
        margin: 20px 0 30px;

        li {
            flex: 1;
            border-radius: 10px;
            overflow: hidden;
            justify-content: space-between;
            margin-right: 10px;

            a {
                img {
                    // width: 290px;
                    height: 200px;
                }
            }

            &:hover {
                box-shadow: 0 5px 15px 5px #f2f2f2;
            }
        }
    }
}

// 热销单品模块
.hw-hot-item {

    .hw-hot-item-title {
        font-size: 26px;
        color: #333;
        padding: 0 0 13px 0;
        font-weight: 400;
    }

    .hw-hot-item-content {
        height: 592px;

        // 左边
        .hw-hot-item-content-left {
            flex: 1;
            margin-right: 10px;

            a {
                border-radius: 10px;

                img {
                    border-radius: 10px;
                }
            }

            &:hover {
                box-shadow: 0 5px 15px 10px #fbfbfb;
            }
        }

        // 右边
        .hw-hot-item-content-right {
            flex: 4;

            >div {
                flex: 1;

                ul {
                    li {
                        background-color: #f9f9f9;
                        flex: 1;

                        a {
                            text-decoration: none;

                            img {
                                width: 150px;
                                height: 150px;
                            }

                            h4 {
                                font-size: 14px;
                                font-weight: 400;
                                color: #3a3a3a;
                                margin-top: 10px;
                            }

                            h5 {
                                font-size: 12px;
                                font-weight: 400;
                                color: #777;
                            }

                            p {
                                font-size: 14px;
                                font-weight: 400;
                                color: #d0021b;
                            }
                        }

                        &:hover {
                            box-shadow: 0 5px 15px 10px #fbfbfb;
                        }
                    }
                }
            }
        }
    }
}

// 精品推荐模块
.hw-recommend {
    cursor: pointer;

    .hw-recommend-title {
        font-size: 26px;
        color: #333;
        padding: 0 0 13px 0;
        font-weight: 400;
        margin-top: 30px;
    }

    .hw-recommend-content {

        // height: 295px;
        .hw-recommend-content-item {
            flex: 1;
            margin-right: 10px;

            .hw-recommend-content-item-top {
                background-color: #fff;
                border: 1px solid #f9f9f9;
                box-shadow: 0 1px 8px #f9f9f9;
                border-radius: 10px;

                em {
                    height: 36px;
                }

                img {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 20px;
                }

                p {
                    height: 36px;
                    font-size: 14px;
                    line-height: 36px;
                    color: #777;
                    background-color: #f3f3f3;
                    border-radius: 0 0 10px 10px;

                }
            }

            h4 {
                font-size: 14px;
                font-weight: 400;
                color: #3a3a3a;
                line-height: 21px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #d0021b;
                line-height: 18px;
            }
        }

        .hw-recommend-content-item:last-child {
            margin-right: 0;
        }
    }
}

// 手机模块
.hw-phone {
    // 标题栏
    .hw-phone-title {
        margin-top: 30px;
        ul {
            li{
                float: left;
                font-size: 14px;
                
                padding: 0 0 13px 0;
                // font-weight: 400;
                
                margin-right: 24px;
                line-height: 32px;
                a{
                    text-decoration: none;
                    color: #999;
                    &:hover{
                        color: #d0021b;
                    }
                }  
            }
            li:first-child {
                font-size: 26px;
                color: #333;
                padding: 0 0 13px 0;
                font-weight: 400;
                
            }
            
        }
        span{
            float: right;
            font-size: 14px;
            color: #3a3a3a;
            cursor: pointer;
            line-height: 32px;
            padding-right: 20px;
            position: relative;
            &:hover{
                color: #d0021b;
            }
            &::after{
                content: "";
                display: block;
                width: 18px;
                height: 14px;
                background: url(../img/icon/icon3.svg) no-repeat;
                background-position: -48px 0;
                position: absolute;
                top: 9px;
                right: 0;
            }
        }
    }
    // 内容栏
    .hw-phone-content{
        height: 290px;
        >div{
            flex: 1;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
        }
        >div:nth-child(1){
            img{
                height: 290px;
                border-radius: 10px;
            }
        }
        .hw-phone-content-item{
            background-color: #f9f9f9;
            img{
                height: 150px;
            }
            h4{
                font-size: 14px;
                font-weight: 400;
                color: #3a3a3a;
            }
            h5{
                font-size: 12px;
                font-weight: 400;
                color: #777;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #d0021b;
            }
        }
    }
}

// 手表模块
.hw-watch{
    // 标题栏
    .hw-watch-title {
        margin-top: 30px;
        ul {
            li{
                float: left;
                font-size: 14px;
                
                padding: 0 0 13px 0;
                // font-weight: 400;
                
                margin-right: 24px;
                line-height: 32px;
                a{
                    text-decoration: none;
                    color: #999;
                    &:hover{
                        color: #d0021b;
                    }
                }  
            }
            li:first-child {
                font-size: 26px;
                color: #333;
                padding: 0 0 13px 0;
                font-weight: 400;
                
            }
            
        }
        span{
            float: right;
            font-size: 14px;
            color: #3a3a3a;
            cursor: pointer;
            line-height: 32px;
            padding-right: 20px;
            position: relative;
            &:hover{
                color: #d0021b;
            }
            &::after{
                content: "";
                display: block;
                width: 18px;
                height: 14px;
                background: url(../img/icon/icon3.svg) no-repeat;
                background-position: -48px 0;
                position: absolute;
                top: 9px;
                right: 0;
            }
        }
    }

    // 内容栏
    .hw-watch-content{
        // 第一行
        .hw-watch-content-1{
            height: 290px;
            >div{
                border-radius: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
            div:nth-child(1){
                flex: 2;
                img{
                    height: 290px;
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .hw-watch-content-item{
                flex: 1;
                background-color: #f9f9f9;
                img{
                    height: 150px;
                }
                h4{
                    font-size: 14px;
                    font-weight: 400;
                    color: #3a3a3a;
                }
                h5{
                    font-size: 12px;
                    font-weight: 400;
                    color: #777;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #d0021b;
                }
            }
        }
        
        // 第二行
        .hw-watch-content-2{
            height: 290px;
            >div{
                border-radius: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
            
            .hw-watch-content-item{
                flex: 1;
                background-color: #f9f9f9;
                img{
                    height: 150px;
                }
                h4{
                    font-size: 14px;
                    font-weight: 400;
                    color: #3a3a3a;
                }
                h5{
                    font-size: 12px;
                    font-weight: 400;
                    color: #777;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #d0021b;
                }
            }
        }

        // 第三行
        .hw-watch-content-3{
            // height: 240px;
            .hw-watch-content-item {
                flex: 1;
                margin-right: 10px;
    
                .hw-watch-content-item-top {
                    padding-top: 32px;
                    background-color: #fff;
                    border: 1px solid #f9f9f9;
                    box-shadow: 0 1px 8px #f9f9f9;
                    border-radius: 10px;
    
                    
    
                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 20px;
                    }
    
                    p {
                        height: 32px;
                        font-size: 14px;
                        line-height: 32px;
                        color: #777;
                        background-color: #f3f3f3;
                        border-radius: 0 0 10px 10px;
    
                    }
                }
    
                h4 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #3a3a3a;
                    line-height: 21px;
                }
    
                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: #d0021b;
                    line-height: 21px;
                }
            }
            .hw-watch-content-item:last-child {
                margin-right: 0;
            }
        }
    }
}