.hw-header-nav {
  box-shadow: 0 2px 10px #f9f9f9; }
  .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort::before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background: url(../img/detail/icon-category.png) no-repeat;
      background-position: 0 -25px;
      background-size: 100% 200%;
      position: absolute;
      top: 10px;
      left: 0; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort:hover::before {
      background-position: 0 -1px; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort a {
      padding-left: 30px;
      color: #333333;
      font-size: 16px;
      text-decoration: 0; }
    .hw-header-nav .hw-header-nav-left .hw-header-nav-left-sort:hover a {
      color: #ca141d; }

.hw-breadcrumb {
  background-color: #f5f5f5 !important; }
  .hw-breadcrumb a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53; }
  .hw-breadcrumb a:nth-child(4) {
    cursor: text; }
  .hw-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">"; }

.hw-classify .hw-classify-item {
  height: 35px;
  color: #666;
  font-size: 12px;
  line-height: 35px;
  margin: 0 24px;
  border-bottom: 1px solid #eaeaea; }
  .hw-classify .hw-classify-item > div {
    float: left;
    width: 106px; }
  .hw-classify .hw-classify-item ul {
    float: left;
    margin-bottom: 0; }
    .hw-classify .hw-classify-item ul li {
      float: left;
      margin-right: 40px; }
      .hw-classify .hw-classify-item ul li a {
        text-decoration: none;
        color: #333;
        padding-left: 22px; }
        .hw-classify .hw-classify-item ul li a:hover {
          color: #ca141d; }
      .hw-classify .hw-classify-item ul li .hw-option {
        display: block;
        height: 23px;
        line-height: 23px;
        border: 1px solid #eaeaea;
        border-radius: 2px;
        padding: 0 22px 0 6px;
        color: #3a3a3a;
        margin-top: 5px; }
        .hw-classify .hw-classify-item ul li .hw-option::after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url(../img/icon/icon3.svg) no-repeat;
          background-position: -60px -46px;
          position: absolute;
          top: 10px;
          right: 5px; }
        .hw-classify .hw-classify-item ul li .hw-option:hover::after {
          background-position: -60px -36px; }

.hw-list .hw-list-items {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer; }
  .hw-list .hw-list-items .hw-list-item {
    flex: 19%;
    padding: 25px 16px;
    margin-bottom: 10px;
    background-color: #fff;
    margin-right: 10px;
    transition: 100ms; }
    .hw-list .hw-list-items .hw-list-item p {
      margin-bottom: 0; }
    .hw-list .hw-list-items .hw-list-item img {
      display: block;
      width: 180px;
      height: 180px; }
    .hw-list .hw-list-items .hw-list-item h2 {
      font-size: 14px;
      color: 333;
      font-weight: 400;
      margin-top: 8px; }
    .hw-list .hw-list-items .hw-list-item p:nth-of-type(1) b {
      float: left;
      font-size: 18px;
      color: #ca141d; }
    .hw-list .hw-list-items .hw-list-item p:nth-of-type(1) span {
      float: left;
      width: 58px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      font-size: 12px;
      color: #68beff;
      border: 1px solid #84c9fd;
      border-radius: 10px;
      margin: 7px 0 0 4px; }
    .hw-list .hw-list-items .hw-list-item p:nth-of-type(2) span {
      font-size: 12px;
      color: #ca141d;
      border: 1px solid #d5434a;
      padding: 0 5px; }
    .hw-list .hw-list-items .hw-list-item p:nth-of-type(3) span {
      font-size: 12px;
      color: #999; }
    .hw-list .hw-list-items .hw-list-item:hover {
      margin-top: -3px;
      box-shadow: 0 10px 10px 5px #e8e8e8; }

/*# sourceMappingURL=list.css.map */
